body {
background:silver;
width: 1000px;
margin: 0 auto;
}

.box {
display:grid;
justify-content:center;
border:0.75px dotted;
border-radius: 5px;
background-color: gray;padding:5px;
margin: 4px;
}

a {
text-decoration: none;color:black;
}

h1 {
text-align: center;
}
